@mixin Body() {
  font-family: 'Poppins', sans-serif;
  //background-color: #dfdce3;
  //background-color: #4abdac;
  overflow-x: hidden;
}

html{
  scroll-behavior: smooth;
}
.container-fluid{
    margin:0;
    padding:0;
}
