@mixin Body() {
  font-family: Arial, Helvetica, sans-serif;
  //background-color: #dfdce3;
  //background-color: #4abdac;
  overflow-x: hidden;
}

/*
@mixin Container() {
  margin-top: 15px;
  margin-bottom: 30px;
}
*/
.container-fluid{
    margin:0;
    padding:0;
}
