@mixin header {
  padding-bottom: 150px;
  opacity: 0;
  background-color: #4abdac; 

  animation: header_fade;
  animation-duration: 0.5s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;

  h5 {
    color: white;
    font-size: 50px;
  }
  p {
    padding: 10px;
    font-size: 16px;
  }
  @keyframes header_fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
