@mixin header {
  padding-bottom: 150px;
  padding-top: 100px;
  background-color: #4abdac;

  h5 {
    color: white;
    font-size: 50px;

    opacity: 0;
    animation: header_fade;
    animation-duration: 0.5s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
  }
  p {
    padding: 10px;
    font-size: 16px;

    opacity: 0;
    animation: header_fade;
    animation-duration: 0.5s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
  }

  img{
    width: 100px;
  }
  @keyframes header_fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
