.row {
  padding: 20px 70px;
  margin-bottom: 130px;
}

.card-group .card {
  margin: 30px 10px;
}

.card-body {
  h5 {
    font-size: 24px;
  }
  p {
    font-size: 14px;
  }
}

.dewm-card {
  padding: 10px;
  margin-bottom: 70px;
  //background-color: #4abdac; 
  background-color: #dfdce3;

  opacity: 0;
  animation: floatup1;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;

  h5, p{
    text-align: center;
    //color: #f3f3f3;
    color: black;
  }

  .btn {
    border-radius: 4px;
    background-color: #f7b733;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    width: 138px;
    height: 40px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .btn:hover span {
    padding-right: 25px;
  }
  
  .btn:hover span:after {
    opacity: 1;
    right: 0;
  }
}

/* ANIMATIONS */
@keyframes floatup1 {
  0% {
    margin-top: 1000px;
    opacity: 0;
  }
  85% {
    opacity: 1;
    margin-top: -140px;
  }
  100% {
    opacity: 1;
    margin-top: -130px;
  }
}

.noc-card {
  padding: 10px;
  margin-bottom: 70px;
  //background-color: #4abdac; 
  background-color: #dfdce3;

  opacity: 0;
  animation: floatup2;
  animation-delay: 0.1s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;

  h5, p{
    text-align: center;
    //color: #f3f3f3;
    color: black;
  }

  .btn {
    border-radius: 4px;
    background-color: #f7b733;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    width: 138px;
    height: 40px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .btn:hover span {
    padding-right: 25px;
  }
  
  .btn:hover span:after {
    opacity: 1;
    right: 0;
  }
}

@keyframes floatup2 {
  0% {
    opacity: 0;
    margin-top: 1000px;
  }
  85% {
    opacity: 1;
    margin-top: -140px;
  }
  100% {
    opacity: 1;
    margin-top: -130px;
  }
}

.lol-card {
  padding: 10px;
  margin-bottom: 70px;
  //background-color: #4abdac; 
  background-color: #dfdce3;

  opacity: 0;
  animation: floatup3;
  animation-delay: 0.2s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;

  h5, p{
    text-align: center;
    //color: #f3f3f3;
    color: black;
  }

  .btn {
    border-radius: 4px;
    background-color: #f7b733;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    width: 138px;
    height: 40px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .btn:hover span {
    padding-right: 25px;
  }
  
  .btn:hover span:after {
    opacity: 1;
    right: 0;
  }
}

@keyframes floatup3 {
  0% {
    opacity: 0;
    margin-top: 1000px;
  }
  85% {
    opacity: 1;
    margin-top: -140px;
  }
  100% {
    opacity: 1;
    margin-top: -130px;
  }
}

.dstructures-card {
  padding: 10px;
  margin-bottom: 70px;
  //background-color: #4abdac; 
  background-color: #dfdce3;

  opacity: 0;
  animation: floatup4;
  animation-delay: 0.3s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;

  h5, p{
    text-align: center;
    //color: #f3f3f3;
    color: black;
  }

  .btn {
    border-radius: 4px;
    background-color: #f7b733;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    width: 138px;
    height: 40px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .btn:hover span {
    padding-right: 25px;
  }
  
  .btn:hover span:after {
    opacity: 1;
    right: 0;
  }
}


@keyframes floatup4 {
  0% {
    margin-top: 1000px;
    opacity: 0;
  }
  85% {
    opacity: 1;
    margin-top: -140px;
  }
  100% {
    opacity: 1;
    margin-top: -130px;
  }
}
